@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  --primary-color-300: hsl(333, 80%, 67%);
  --primary-color-700: hsl(300, 43%, 22%);
  --secondary-color-100: hsl(0, 0%, 100%);
  --secondary-color-200: hsl(300, 24%, 96%);
  --secondary-color-300: hsl(303, 10%, 53%);
  --primary-ff: "League Spartan", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fs-400: 0.8125rem;
  --fs-500: 0.9375rem;
  --fs-900: 2rem;
  --border-radius: 0.3rem;
}
@media (min-width: 50em) {
  :root {
    --fs-900: 3rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 6em;
  font-family: var(--primary-ff);
  font-size: var(--fs-400);
  text-align: center;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left, bottom right;
}
@media (min-width: 50em) {
  body {
    background-size: 55%, 80%;
    padding-top: unset;
  }
}

.container {
  max-width: 70rem;
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-700);
  color: var(--primary-color-700);
  line-height: 0.8;
  max-width: 15ch;
  margin-inline: auto;
}

.lead {
  max-width: 25em;
  font-size: var(--fs-500);
  color: var(--secondary-color-300);
  line-height: 1.4;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 50em) {
  .flex {
    flex-direction: row;
    gap: 2em;
  }
}

main {
  display: grid;
  gap: 2rem;
  padding: 0 2em;
}
@media (min-width: 50em) {
  main {
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
  }
}

.quotes {
  grid-column: 1/-1;
}

.main-text h1 {
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  .main-text {
    text-align: left;
  }
  .main-text h1 {
    margin-inline: 0;
  }
}

.ratings > * + * {
  margin-top: 1rem;
}
@media (min-width: 50em) {
  .ratings {
    justify-self: end;
  }
}
.ratings .rating {
  max-width: 25rem;
  background-color: var(--secondary-color-200);
  padding: 1em 4em;
  border-radius: var(--border-radius);
  font-weight: var(--fw-700);
  color: var(--primary-color-700);
  margin-inline: auto;
}
.ratings .rating .icons {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
.ratings .rating .icons img {
  width: var(--fs-500);
}
@media (min-width: 50em) {
  .ratings .rating {
    display: flex;
    gap: 1rem;
    margin-inline: unset;
    align-items: center;
  }
  .ratings .rating p {
    margin-top: 0.3em;
  }
  .ratings .rating .icons {
    margin-bottom: 0;
  }
  .ratings .rating:first-child {
    transform: translateX(-6rem);
  }
  .ratings .rating:nth-child(2) {
    transform: translateX(-3rem);
  }
}

.quotes {
  padding: 0;
}
.quotes .quote {
  max-width: 25rem;
  margin-inline: auto;
  background-color: var(--primary-color-700);
  border-radius: var(--border-radius);
  padding: 2em 3em;
  text-align: left;
}
.quotes .quote .header {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.2;
}
.quotes .quote .header img {
  border-radius: 100%;
  width: 15%;
}
.quotes .quote .header .name {
  color: var(--secondary-color-100);
}
.quotes .quote .header .status {
  color: var(--primary-color-300);
}
.quotes .quote .text {
  margin-top: 1rem;
  color: var(--secondary-color-200);
}
.quotes .quote .text::before {
  content: "“";
}
.quotes .quote .text::after {
  content: "”";
}
@media (min-width: 50em) {
  .quotes .quote:nth-child(2) {
    transform: translateY(1rem);
  }
  .quotes .quote:nth-child(3) {
    transform: translateY(2rem);
  }
}/*# sourceMappingURL=main.css.map */